[submodule "src/GPS/Drivers"]
	path = src/src/GPS/Drivers
	url = https://github.com/PX4/GpsDrivers.git
[submodule "libs/mavlink/include/mavlink/v2.0"]
	path = src/libs/mavlink/include/mavlink/v2.0
	url = https://github.com/mavlink/c_library_v2.git
